body{
  background-color: #F2F6FA;
}
.wrapper{
  display: flex;
  margin: 100px;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  column-gap: 100px;
  row-gap: 100px;
}

.card-wrapper{
  display: grid;
  grid-template-rows: 3fr 1fr 2fr;
  border: 1px solid #33266E; 
  border-radius: 10px;
  width: 354px;
  height: 500px;
  transition: transform 0.3s ease;
}

a{
  text-decoration: none !important;
}

.card-wrapper:hover{
  z-index: 9;
  transform-origin: center;
  transform: scale(1.05);
  cursor: pointer;
}

.image-wrapper{
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  align-content: end;
}

.name-wrapper {
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  font-size: 16pt;
  font-weight: 500;
  margin: 0;
  padding: 10px;
}

.description-wrapper {
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  font-size: 12pt;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

