body{
  background-color: #F2F6FA;
}
.wrapper{
  display: grid;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 100px;
}

.card-wrapper{
  display: grid;
  grid-template-rows: 10px 230px 60px;
  border: 1px solid black; 
  border-radius: 5px;
  background: linear-gradient(to bottom, #5D576B 50%, #FFFFFF 50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: auto;
  transition: transform 0.3s ease;
}

.card-wrapper:hover{
  z-index: 9;
  transform-origin: center;
  transform: scale(1.05);
}

.image-wrapper{
  background-size: cover;
  background-position: center;
  align-content: end;
}

.name-wrapper{
  color: #FFFFFF;
  text-align: left;
  margin-left: 10px;
}

